.page-header
  %h1 Список заказов

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#new"}
      Новые
  %li
    %a{"data-toggle" => "tab", href: "#delivery"}
      В доставке
  %li
    %a{"data-toggle" => "tab", href: "#completed"}
      Завершённые
  %li
    %a{"data-toggle" => "tab", href: "#cancelled"}
      Отменённые
.tab-content
  #new.tab-pane.fade.in.active
    - render 'new_orders', this_orders: @new_orders
  #delivery.tab-pane.fade
    - render 'new_orders', this_orders: @delivery
  #completed.tab-pane.fade
    - render 'cancelled_orders', this_orders: @completed
  #cancelled.tab-pane.fade
    - render 'cancelled_orders', this_orders: @cancelled