.product-img {
	position: relative;
	left: 30%;
	right: 30%;
}

.field_content {
	text-align: center;
}

.product-show-block {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 2%;
}

.product-show-block.content {
	width: 60%;
    float: left;
}

.product-show-block.listing {
	width: 40%;
    float: right;
}

.row.nomargin {
	margin: 0;
	padding-top: 5px;
}

.h1.nomargin {
	margin: 0;
}

.same_product_show {
	border: 3px ridge #333;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px 20px 30px 40px/30px;
}

.same_product_image_block, .same_product_info_block {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: top;
    margin: 5px;
    margin-right: 20px;
}

.same_product_title {
	font-size: 20px;
}

.same_product_big_link {
	font-size: 30px;
}