!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title World Of Flower Party-404 Not Found Error
  %body{style: "background: url(#{image_path('page_not_found.jpg')}); background-size: cover"}
    -#TODO убрать с 404 ошибки надоевший алерт!